<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>To Do List</title>
</head>
<body>
<h1>To Do List</h1>

<form th:action="@{/create}" method="post">
    <textarea name="content" placeholder="Content"></textarea>
    <button>Add</button>
</form>

<form th:action="@{/search}">
    <input name="content" placeholder="Search" />
    <button>Search</button>
</form>

<table>
    <tr>
        <th>ID</th>
        <th>Content</th>
    </tr>
    <tr th:each="todo : ${items}">
        <td th:text="${todo.id}"></td>
        <td th:text="${todo.content}"></td>
        <td>
            <a th:href="@{/delete/{id}(id=${todo.id})}">Delete</a>
        </td>
    </tr>
</table>

</body>
</html>